/* Laika.css */

body {
    
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #45a049;
}

.l1 {
    font-size: 2.5em;
    color: black;
}


.author {
    font-size: 0.8em;
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

blockquote {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 20px 0;
    color: rgb(98, 11, 11);
    font-size: 15px;
}

iframe {
    display: block;
    margin: 20px auto;
}

iframe[src*="youtube.com"] {
    max-width: 100%;
}


img.Laika1 {
    
            max-width: 100%;
            height: auto;
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
            border: 5px solid #ccc;
            border-radius: 15px;
            transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
        }


