body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 0.5em;
}

.author {
    font-style: italic;
    color: #777;
    margin-bottom: 1.5em;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

.image-caption {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 1.5em;
}

p {
    line-height: 1.6;
    margin-bottom: 1.5em;
}

blockquote {
    margin: 1.5em 0;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-left: 5px solid #ccc;
    font-style: italic;
}

ul {
    margin: 1em 0;
    padding: 0 20px;
}

ul li {
    margin-bottom: 0.5em;
}

button {
    display: inline-block;
    margin-top: 2em;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: #0056b3;
}


img.image {

max-width: 100%;
    height: auto;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    border: 5px solid #ccc;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    position: relative;
    /* Needed for snow effect */
    overflow: hidden;
    /* Ensure snow doesn't overflow the image bounds */
}

.image-caption {
    font-size: 15px;
}
.author {
    font-size: 10px;
}
