* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Default styling for .header */
.header {
    background-color: bisque;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1200px;
    padding-top: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    /* Ensure the header takes full width by default */
}

/* Small devices (phones, 600px and below) */
@media (max-width: 600px) {
    .header {
        width: 100%;
        /* Full width for small devices */
    }
}

/* Medium devices (tablets, 601px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    .header {
        width: 90%;
        /* Slightly narrower for medium devices */
    }
}

/* Large devices (desktops, 1025px and above) */
@media (min-width: 1025px) {
    .header {
        width: 80%;
        /* Narrower for large devices */
    }
}

button {
    border: none;
}

p {
    font-size: 1.5em;
    line-height: 1.1;
}

h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    padding-top: 20px;
    color: rgb(1, 1, 1);
}

h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    color: #303030;
    padding-top: 60px;
}

h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    padding-top: 20px;
    color: black
}

h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    color: black
}

h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    color: #600971;
    font-size: 15px;
}

h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    color: rgb(254, 251, 231);
    font-size: 40px;
    background-color: #303030;
    padding: 10px;
}


.label2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: "Bebas Neue", sans-serif;
    padding: 10px;
    font-size: 25px;
    color: rgb(254, 251, 231);
    gap: 20px;
    padding-bottom: 15px;
}

.label3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    color: #303030;
    width: 70vw;
}